<body>
    <div class="">
    <section> 
      <div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="assets/assets/img/food4.jpg" class="d-block w-100" style="opacity: 0.8;height: 650px;" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-align: right;">
              <a class="button button-lg button-primary button-winona button-shadow-2"    routerLink="/onlineOrder/order">View our menu</a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/assets/img/food2.jpg" class="d-block w-100" style="opacity: 0.8;height: 650px;" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-align: right;">
              <h5>Second slide label</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/assets/img/pancake.jpg" class="d-block w-100" style="opacity: 0.8;height: 650px;" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-align: right;">
              <h5>Third slide label</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" (mousemove)="alert()">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
      <section class="section section-md bg-default">
        <div class="container"> 
          <h3 class="oh-desktop" style="text-align: center;"><span class="d-inline-block wow slideInDown custom-font2">Our Menu</span></h3>
          <div class="row row-md row-30">
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInUp">
                  <div class="services-terri-figure"><img src="assets/assets/img/salad.jpg" alt="" width="370" height="278"/>
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon"><i class="fa-solid fa-leaf"></i></span>
                    <h5 class="services-terri-title"><a href="single-service.html">Salads</a></h5>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInDown">
                  <div class="services-terri-figure"><img src="assets/assets/img/pizza.jpg" alt="" width="370" height="278"/>
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-ice-cream"><i class="fa-solid fa-pizza-slice"></i></span>
                    <h5 class="services-terri-title"><a href="single-service.html">Pizzas</a></h5>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInUp">
                  <div class="services-terri-figure"><img src="assets/assets/img/burger.jpg" alt="" width="370" height="278"/>
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-hamburger"><i class="fa-solid fa-burger"></i></span>
                    <h5 class="services-terri-title"><a href="single-service.html">Burgers</a></h5>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInDown">
                  <div class="services-terri-figure"><img src="assets/assets/img/dessert.jpg" alt="" width="370" height="278"/>
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon linearicons-ice-cream"><i class="fa-solid fa-ice-cream"></i></span>
                    <h5 class="services-terri-title"><a href="single-service.html">Desserts</a></h5>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInUp" routerLink="/onlineOrder/order">
                  <div class="services-terri-figure"><img src="assets/assets/img/drink.jpg" alt="" width="370" height="278"/>
                  </div>
                  <div class="services-terri-caption"><span class="services-terri-icon" ><i class="fa-solid fa-martini-glass-citrus"></i></span>
                    <h5 class="services-terri-title"><a routerLink="/onlineOrder/order">Drinks</a></h5>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="oh-desktop">
                <!-- Services Terri-->
                <article class="services-terri wow slideInDown">
                  <div class="services-terri-figure"><img src="assets/assets/img/07.jpg" alt="" width="370" height="278"/>
                  </div>
                  <div class="services-terri-caption">
                    <h5 class="services-terri-title"><a href="single-service.html">comming soon</a></h5>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="primary-overlay section parallax-container" style="background-image: url(assets/assets/img/pancake.jpg);background-size: cover">
        <div class="parallax-content section-xl context-dark text-md-left">
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-sm-8 col-md-7 col-lg-5">
                <div class="cta-modern">
                  <h3 class="cta-modern-title wow fadeInRight">Best atmosphere</h3>
                  <p class="lead">PizzaHouse is the place of the best pizza and high-quality service.</p>
                  <p class="cta-modern-text oh-desktop" data-wow-delay=".1s"><span class="cta-modern-decor wow slideInLeft"></span><span class="d-inline-block wow slideInDown">Ben Smith, Founder</span></p><a class="button button-md button-secondary-2 button-winona wow fadeInUp" href="services.html" data-wow-delay=".2s">View Our Services</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-lg bg-default">
        <div class="container">
          <h3 class="oh-desktop" style="text-align: center;"><span class="d-inline-block wow slideInUp custom-font2">HOT PRODUCTS</span></h3>
          <div class="row row-lg row-30" style="margin-top: 60px;">
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Product-->
              <article class="product wow fadeInLeft" data-wow-delay=".15s">
                <div class="product-figure"><img src="assets/assets/img/06.jpg" alt="" width="161" height="162"/>
                </div>
                <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
                </div>
                <h6 class="product-title">Margherita Pizza</h6>
                <div class="product-price-wrap">
                  <div class="product-price">$24.00</div>
                </div>
                <div class="product-button">
                  <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="cart-page.html">Add to cart</a></div>
                  <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="single-product">View Product</a></div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Product-->
              <article class="product wow fadeInLeft" data-wow-delay=".1s">
                <div class="product-figure"><img src="assets/assets/img/07.jpg" alt="" width="161" height="162"/>
                </div>
                <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
                </div>
                <h6 class="product-title">Mushroom Pizza</h6>
                <div class="product-price-wrap">
                  <div class="product-price">$24.00</div>
                </div>
                <div class="product-button">
                  <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="cart-page.html">Add to cart</a></div>
                  <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="single-product">View Product</a></div>
                </div><span class="product-badge product-badge-new">New</span>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Product-->
              <article class="product wow fadeInLeft" data-wow-delay=".05s">
                <div class="product-figure"><img src="assets/assets/img/06.jpg" alt="" width="161" height="162"/>
                </div>
                <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
                </div>
                <h6 class="product-title">Hawaiian Pizza</h6>
                <div class="product-price-wrap">
                  <div class="product-price">$24.00</div>
                </div>
                <div class="product-button">
                  <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="cart-page.html">Add to cart</a></div>
                  <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="single-product">View Product</a></div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
              <!-- Product-->
              <article class="product wow fadeInLeft">
                <div class="product-figure"><img src="assets/assets/img/07.jpg" alt="" width="161" height="162"/>
                </div>
                <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
                </div>
                <h6 class="product-title">Pesto Pizza</h6>
                <div class="product-price-wrap">
                  <div class="product-price product-price-old">$40.00</div>
                  <div class="product-price">$24.00</div>
                </div>
                <div class="product-button">
                  <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="cart-page.html">Add to cart</a></div>
                  <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="single-product">View Product</a></div>
                </div>
                <span class="product-badge product-badge-sale">Sale</span>
              </article>
            </div>
          </div>
        </div>
      </section>
      <footer class="section footer-modern context-dark footer-modern-2">
        <div class="footer-modern-line-2">
          <div class="container">
            <div class="row row-30 align-items-center">
              <div class="col-sm-6 col-md-7 col-lg-4 col-xl-4">
                <div class="row row-30 align-items-center text-lg-center">
                  <div class="col-md-7 col-xl-6"><a class="brand" href="index.html"><img src="assets/assets/img/iu.jpg" alt="" width="163" height="57"/></a></div>
                  <div class="col-md-5 col-xl-6">
                    <div class="iso-1"><span><img src="assets/assets/img/like.png" alt="" width="58" height="25"/></span><span class="iso-1-big">8.7k</span></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-12 col-lg-8 col-xl-8 oh-desktop">
                <div class="group-xmd group-sm-justify">
                  <div class="footer-modern-contacts wow slideInUp">
                    <div class="unit unit-spacing-sm align-items-center">
                      <div class="unit-left"><span class="icon icon-24 mdi mdi-phone"></span></div>
                      <div class="unit-body"><a class="phone" href="tel:#">09876554321</a></div>
                    </div>
                  </div>
                  <div class="footer-modern-contacts wow slideInDown">
                    <div class="unit unit-spacing-sm align-items-center">
                      <div class="unit-left"><span class="icon mdi mdi-email"></span></div>
                      <div class="unit-body"><a class="mail" href="mailto:#">leo123@leo.com</a></div>
                    </div>
                  </div>
                  <div class="wow slideInRight">
                    <ul class="list-inline footer-social-list footer-social-list-2 footer-social-list-3">
                      <li><a class="icon mdi"  style="background-image: url(assets/assets/img/fbwhite.jpg);background-size: cover;" href="#"></a></li>
                      <li><a class="icon mdi" style="background-image: url(assets/assets/img/igwhite.jpg);background-size: cover;" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
</body>