<body id="page-top">
	<!-- Navigation-->
	<nav
		class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
		<div class="container px-5">
			<a class="navbar-brand" href="#page-top">
				<span class="custom-font2">LEO&SKR</span>
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link custom-font2" routerLink="/store">HOME</a></li>
					<li class="nav-item"><a class="nav-link custom-font2" routerLink="/aboutUs">About us</a></li>
					<li class="nav-item"><a class="nav-link custom-font2" routerLink="/onlineOrder/shopCar">Menu</a></li>
					<li class="nav-item"><a class="nav-link custom-font2" routerLink="/onlineOrder/orderHistory">News</a></li>
					<li class="nav-item"><a id="uName" class="nav-link" href="#!">{{uName}}</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
</body>
